(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("JamSoftElectronULA_TB2_10.ghw"),
        format: Ghw,
        active_scope: Some(WaveScope((
            strs: [
                "jamsoftelectronula_tb2",
                "ula",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (53),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (37),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (52),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "mode_ttxt",
                    id: Wellen((104)),
                ),
                color: None,
                background_color: None,
                display_name: "mode_ttxt",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "addr",
                    id: Wellen((30)),
                ),
                color: None,
                background_color: None,
                display_name: "addr [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "cas_n",
                    id: Wellen((40)),
                ),
                color: None,
                background_color: None,
                display_name: "cas_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "h_count",
                    id: Wellen((89)),
                ),
                color: None,
                background_color: None,
                display_name: "h_count [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "ras_n",
                    id: Wellen((39)),
                ),
                color: None,
                background_color: None,
                display_name: "ras_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "char_row",
                    id: Wellen((94)),
                ),
                color: None,
                background_color: None,
                display_name: "char_row [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "dramc_ps",
                    id: Wellen((157)),
                ),
                color: None,
                background_color: None,
                display_name: "dramc_ps",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "cpu_clk",
                    id: Wellen((138)),
                ),
                color: None,
                background_color: None,
                display_name: "cpu_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "screen_addr",
                    id: Wellen((95)),
                ),
                color: None,
                background_color: None,
                display_name: "screen_addr [14:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "hsync_int",
                    id: Wellen((57)),
                ),
                color: None,
                background_color: None,
                display_name: "hsync_int",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "screen_base",
                    id: Wellen((75)),
                ),
                color: None,
                background_color: None,
                display_name: "screen_base [14:6]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (52): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "pixel_debug",
                    id: Wellen((97)),
                ),
                color: None,
                background_color: None,
                display_name: "pixel_debug [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "byte_addr_debug",
                    id: Wellen((99)),
                ),
                color: None,
                background_color: None,
                display_name: "byte_addr_debug [14:3]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "cpu_ram_slot",
                    id: Wellen((143)),
                ),
                color: None,
                background_color: None,
                display_name: "cpu_ram_slot",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "screen_data",
                    id: Wellen((96)),
                ),
                color: None,
                background_color: None,
                display_name: "screen_data [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "last_line",
                    id: Wellen((105)),
                ),
                color: None,
                background_color: None,
                display_name: "last_line",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "vsync_int",
                    id: Wellen((59)),
                ),
                color: None,
                background_color: None,
                display_name: "vsync_int",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "row_addr_debug",
                    id: Wellen((98)),
                ),
                color: None,
                background_color: None,
                display_name: "row_addr_debug [14:6]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "jamsoftelectronula_tb2",
                            "ula",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "mode_base",
                    id: Wellen((100)),
                ),
                color: None,
                background_color: None,
                display_name: "mode_base [6:3]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 53,
        viewports: [
            (
                curr_left: (0.8106779294519602),
                curr_right: (0.8242166430725805),
                target_left: (0.12096463607761689),
                target_right: (0.12284738302604249),
                move_start_left: (0.12096463607761689),
                move_start_right: (0.12284738302604249),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2866254951,
            32793,
        ])),
        markers: {},
        focused_item: Some((4)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)